@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root {
	--light-yellow: #fff2cc;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	background-color: white;
}

.App {
	margin: 1rem 5rem;
	justify-content: center;
	text-align: center;
	height: 100%;
	padding-bottom: 1rem;
}
