

.navStyle{
    background-color:white;
    color: black;
    height: 90px;
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    /* gap: 2rem; */
    padding: 0rem 1rem;
}

img {
    width: 210px;
}

.navStyle ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navStyle hul {
    font-size: 14.5px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navStyle a{
    color: inherit;
    text-decoration: none;
    height: 30%;
    display: flex;
    align-items: center;
    padding: .3rem;
    position: relative;
    top: 25px;
}

.navStyle li:hover{
    transform: scale(1.07);
}

/* .navStyle li.active{
    transform: scale(1.17);
    background-color:rgba(189, 188, 188, 0.219);
} */

.navStyle li:hover{
    transform: scale(1.05);
}

.pageLinks {
    font-weight: bold;
    border: 1px solid rgb(234, 233, 233);
    border-radius: 15px;
    box-shadow: 2px 2px 4px 1px rgba(189, 188, 188, 0.219);
}
