

.navStyle{
    background-color:#c6579d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title{
    /*font-size: 2rem;
    font-style:italic*/
    font: 30px "Times New Roman";
}

.navStyle ul {
    padding:0;
    margin:0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navStyle a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.navStyle li.active{
    background-color: #555;
}  

.navStyle li:hover{
    background-color: #777;
}




