.Profile {
	text-align: center;
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

img {
	border-radius: 50%;
	opacity: 1;
	border: 2px solid rgb(0, 0, 0);
	width: 70px;
}

.loginStyle {
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	margin: 0.5rem 0;
	padding: 15px;
	border: none;
	border-radius: 10px;
	width: 50vh;
	text-align: left;
}

.profInput {
	margin-top: 1rem;
}

.userInput {
	margin-top: 2rem;
}

.btnContainer {
	margin-top: 3rem;
	width: 23rem;
	display: flex;
	justify-content: space-between;
}

button {
	border: none;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	width: 10rem;
}
